<div class="row">
  <h4 class="hard">hard & skill</h4>
  <div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="85"
    [radius]="70"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300"
  ></circle-progress>

  </div>

  <div class="col-sm-4 col-md-4 col-lg-4">
  <circle-progress
  [percent]="85"
  [radius]="70"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>

</div>

<div class="col-sm-4 col-md-4 col-lg-4">
<circle-progress
[percent]="85"
[radius]="70"
[outerStrokeWidth]="16"
[innerStrokeWidth]="8"
[outerStrokeColor]="'#78C000'"
[innerStrokeColor]="'#C7E596'"
[animation]="true"
[animationDuration]="300"
></circle-progress>
</div>

<div class="col-sm-4 col-md-4 col-lg-4">
  <circle-progress
[percent]="85"
[radius]="70"
[outerStrokeWidth]="16"
[innerStrokeWidth]="8"
[outerStrokeColor]="'#78C000'"
[innerStrokeColor]="'#C7E596'"
[animation]="true"
[animationDuration]="300"
></circle-progress>
</div>
<div class="col-sm-4 col-md-4 col-lg-4">
  <circle-progress
  [percent]="85"
  [radius]="70"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="300"
  ></circle-progress>
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="85"
    [radius]="70"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300"
    ></circle-progress>
    </div>
</div>

